@import "common";

.pool {
  position: relative;
}

.line {
  display: none;
  position: absolute;

  top: var(--size-unit-4);
  left: calc((100% - (var(--size-gap) * 11)) / 12);

  height: 100%;
  width: 1px;

  background: linear-gradient(
      to top,
      var(--color-accent-active),
      var(--color-accent)
    )
    fixed;

  @include desktop {
    display: block;
  }
}

.signup {
  max-width: 1000px;
  margin-left: auto;
}
