@import "common";

.update {
  @include stdgrid;

  align-items: flex-start;
  margin-bottom: calc(var(--size-block-gap) * 0.75);

  opacity: 0;

  transition: {
    duration: 0.5s;
    property: opacity;
  }

  @include tablet {
    margin-bottom: var(--size-block-gap);
  }

  // > * {
  //   transform: translate3d(0, 100px, 0);

  //   transition: {
  //     duration: 0.5s;
  //     property: transform;
  //   }
  // }

  &.view {
    opacity: 1;

    // > * {
    //   transform: translate3d(0, 0, 0);
    // }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.line {
  height: 1px;
  width: 40px;
  background: linear-gradient(
      to bottom,
      var(--color-accent),
      var(--color-accent-active)
    )
    fixed;
  background-size: 100px;
  background-position: top left;

  @include tablet {
    width: 100%;
  }

  &-number {
    font-size: small;

    color: var(--color-text-weak);
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.media {
  grid-column: 1 / span 4;
  min-width: 0;
  line-height: 0;

  @include tablet {
    grid-column: 1 / span 6;
  }

  @include desktop {
    grid-column: 1 / span 9;

    .with-body & {
      grid-column: 1 / span 7;
    }

    .with-number & {
      grid-column: 2 / span 8;
    }

    .with-number.with-body & {
      grid-column: 2 / span 6;
    }
  }

  .text & {
    display: none;
  }

  &-item {
    margin-bottom: var(--size-unit-4);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item {
  img {
    width: 100%;
  }
}

.info {
  padding-top: var(--size-unit-4);
  grid-column: 1 / span 4;

  .text & {
    grid-column: 1 / span 4;
  }

  min-width: 0;

  @include tablet {
    grid-column: 1 / span 4;

    .text & {
      grid-column: 1 / span 5;
    }
  }

  @include desktop {
    position: sticky;

    top: var(--size-unit-10);

    grid-column: 10 / span 3;

    .with-body & {
      grid-column: 8 / span 5;
    }

    .text & {
      grid-column: 6 / span 7;
    }
  }
}

.title {
  padding: 0;
  margin: 0;

  font-size: var(--font-size-normal);
  font-weight: normal;

  a {
    opacity: 0;

    transition: {
      duration: 0.25s;
      property: opacity;
    }
  }
}

.update:hover,
.update:focus-within {
  .title a {
    opacity: 1;
  }
}

.date {
  display: flex;

  align-items: center;

  font-size: var(--font-size-normal);
  font-weight: normal;

  color: var(--color-text-weak);

  span:first-child {
    margin-right: 0.6ch;
  }
}

.body {
  margin-top: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    font-weight: normal;
    font-size: inherit;
  }

  p {
    max-width: 60ch;
  }

  @include tablet {
    font-size: var(--font-size-medium);
  }
}
