@import "common";

.wrapper {
  @include stdgrid;

  min-height: 0;

  align-items: flex-start;
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;

  grid-row: 2;
  grid-column: 1 / span 4;

  li {
    margin: 0;
    padding: 0;
  }

  &-item {
    font-size: var(--font-size-large);

    @include tablet {
      font-size: var(--font-size-xxx-large);
    }
  }

  @include tablet {
    grid-row: 1;
    grid-column: 1 / span 6;
  }

  @include desktop {
    grid-column: 1 / span 12;
  }
}

.body {
  top: var(--size-unit-15);
  padding-top: var(--size-unit-1);
  bottom: var(--size-unit-20);

  color: var(--color-text-weak);

  font-size: var(--font-size-normal);

  grid-row: 1;
  grid-column: 1 / span 4;

  pointer-events: none;

  text-align: right;

  @include tablet {
    position: sticky;
    padding-top: var(--size-unit-5);
    font-size: var(--font-size-large);
    text-align: left;
    grid-column: 3 / span 4;
  }

  @include desktop {
    grid-column: 7 / span 5;
  }
}
