@import "common";

.list {
  margin: var(--size-unit-20) 0;
}

.row {
  @include stdgrid;

  align-items: flex-start;

  padding: var(--size-unit-2) 0;

  font-size: var(--font-size-small);

  cursor: default;

  img {
    max-width: 100%;
  }

  &-image {
    grid-column: span 1;
    line-height: 0;
    display: none;
  }

  &-title {
    grid-column: span 4;
  }

  &-subtitle {
    grid-column: span 3;
  }

  &-date {
    grid-column: span 2;
    text-align: right;

    color: var(--color-text-weak);
  }
}
