@import "common";

.list {
  margin: var(--size-unit-20) 0;
}

.row {
  @include stdgrid;

  align-items: flex-start;
  row-gap: 0;

  padding: var(--size-unit-2) 0;

  font-size: var(--font-size-normal);

  @include desktop {
    font-size: var(--font-size-small);
  }

  cursor: default;

  img {
    max-width: 100%;
  }

  &-title,
  &-subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60vw;
    overflow: hidden;

    grid-column: 2 / span 3;
  }

  &-artwork {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;

    @include desktop {
      display: none;
    }
  }

  &-title {
    @include desktop {
      grid-column: span 4;
    }
  }

  &-subtitle {
    @include desktop {
      grid-column: span 3;
    }
  }

  &-date {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: var(--font-size-small);

    @include tablet {
      grid-row: 1;
      grid-column: 5 / span 2;

      text-align: right;
      font-size: var(--font-size-normal);
    }

    @include desktop {
      grid-column: 11 / span 2;
    }

    color: var(--color-text-weak);
  }

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
}
