@import "common";

.wrapper {
  padding-bottom: var(--size-gap);
}

.form {
  display: flex;

  align-items: flex-start;
  flex-direction: column;

  font-size: var(--font-size-large);
  grid-column: 1 / span 4;

  @include tablet {
    font-size: var(--font-size-xx-large);
    grid-column: 3 / span 10;
    flex-direction: row;
    align-items: center;
  }

  &-wrapper {
    @include stdgrid;
  }

  div {
    flex-grow: 1;

    input {
      width: 100%;
    }
  }

  span {
    display: none;
    margin: 0 var(--size-unit-4);

    @include tablet {
      display: block;
    }
  }

  input,
  button {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    padding: var(--size-unit-1) 0;

    background-color: transparent;
  }

  input {
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-text);

    outline: 0;

    &:focus {
      outline: 2px solid var(--color-accent);
    }

    &::placeholder {
      color: var(--color-text-weak);
    }
  }

  button {
    color: var(--color-accent);

    white-space: nowrap;

    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-accent-active);
    }
  }
}
