.header {
  position: sticky;

  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0 var(--size-unit-4);
}

.logo {
}

.nav {
  display: flex;

  align-items: center;

  &-item {
    margin-left: var(--size-unit-8);
  }

  &-link {
  }
}
