:root {
  --color-bg: white;
  --color-text: #111;
  --color-text-weak: rgb(185, 185, 185);

  --color-accent: #f44336;
  --color-accent-active: #2196f3;

  --color-dark-bg: #111;
  --color-dark-text: white;
}
