.wrapper {
  video {
    width: 100%;
  }

  &:hover,
  &:focus-within {
    .controls {
      opacity: 1;
    }
  }
}

.controls {
  opacity: 0;

  line-height: 1.4;

  transition: {
    duration: 0.25s;
    property: opacity;
  }

  button {
    -webkit-appearance: none;
    border: 0;

    padding: 0;
    margin: 0 var(--size-unit-2) 0 0;

    background-color: transparent;

    font-size: var(--font-size-small);

    cursor: pointer;

    outline: 0;

    color: var(--color-accent);

    &:hover,
    &:focus {
      color: var(--color-accent-active);
    }
  }
}
