@import "common";

.wrapper {
  @include stdgrid;
}

.block {
  grid-column: 1 / span 4;

  font-size: var(--font-size-large);

  em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }

  @include tablet {
    grid-column: 3 / span 10;
  }
}
